<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaagro.crm.biz.mapper.CustomerContractPriceMapperExt">
    <resultMap id="BaseResultMap" type="com.jaagro.crm.biz.entity.CustomerContractPrice">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="contract_id" property="contractId" jdbcType="INTEGER"/>
        <result column="pricing_type" property="pricingType" jdbcType="INTEGER"/>
        <result column="load_site_id" property="loadSiteId" jdbcType="INTEGER"/>
        <result column="unload_site_id" property="unloadSiteId" jdbcType="INTEGER"/>
        <result column="vehicle_type" property="vehicleType" jdbcType="INTEGER"/>
        <result column="product_type" property="productType" jdbcType="INTEGER"/>
        <result column="specification" property="specification" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="has_weight_section_values" property="hasWeightSectionValues" jdbcType="INTEGER"/>
        <result column="has_mile_section_values" property="hasMileSectionValues" jdbcType="INTEGER"/>
        <result column="min_mile" property="minMile" jdbcType="DECIMAL"/>
        <result column="min_weight" property="minWeight" jdbcType="DECIMAL"/>
        <result column="min_money" property="minMoney" jdbcType="DECIMAL"/>
        <result column="price_status" property="priceStatus" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, contract_id, pricing_type, load_site_id, unload_site_id, vehicle_type,
    product_type, specification, price, has_weight_section_values, has_mile_section_values,
    min_mile, min_weight, min_money, price_status
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from customer_contract_price
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from customer_contract_price
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.jaagro.crm.biz.entity.CustomerContractPrice" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
    insert into customer_contract_price (id, contract_id, pricing_type,
      load_site_id, unload_site_id, vehicle_type,
      product_type, specification, price,
      has_weight_section_values, has_mile_section_values,
      min_mile, min_weight, min_money,
      price_status)
    values (#{id,jdbcType=INTEGER}, #{contractId,jdbcType=INTEGER}, #{pricingType,jdbcType=INTEGER},
      #{load_site_id,jdbcType=INTEGER}, #{unload_site_id,jdbcType=INTEGER}, #{vehicleType,jdbcType=INTEGER},
      #{productType,jdbcType=INTEGER}, #{specification,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL},
      #{hasWeightSectionValues,jdbcType=INTEGER}, #{hasMileSectionValues,jdbcType=INTEGER},
      #{minMile,jdbcType=DECIMAL}, #{minWeight,jdbcType=DECIMAL}, #{minMoney,jdbcType=DECIMAL},
      #{priceStatus,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.jaagro.crm.biz.entity.CustomerContractPrice" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        insert into customer_contract_price
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="contractId != null">
                contract_id,
            </if>
            <if test="pricingType != null">
                pricing_type,
            </if>
            <if test="loadSiteId != null">
                load_site_id,
            </if>
            <if test="unloadSiteId != null">
                unload_site_id,
            </if>
            <if test="vehicleType != null">
                vehicle_type,
            </if>
            <if test="productType != null">
                product_type,
            </if>
            <if test="specification != null">
                specification,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="hasWeightSectionValues != null">
                has_weight_section_values,
            </if>
            <if test="hasMileSectionValues != null">
                has_mile_section_values,
            </if>
            <if test="minMile != null">
                min_mile,
            </if>
            <if test="minWeight != null">
                min_weight,
            </if>
            <if test="minMoney != null">
                min_money,
            </if>
            <if test="priceStatus != null">
                price_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="contractId != null">
                #{contractId,jdbcType=INTEGER},
            </if>
            <if test="pricingType != null">
                #{pricingType,jdbcType=INTEGER},
            </if>
            <if test="loadSiteId != null">
                #{loadSiteId,jdbcType=INTEGER},
            </if>
            <if test="unloadSiteId != null">
                #{unloadSiteId,jdbcType=INTEGER},
            </if>
            <if test="vehicleType != null">
                #{vehicleType,jdbcType=INTEGER},
            </if>
            <if test="productType != null">
                #{productType,jdbcType=INTEGER},
            </if>
            <if test="specification != null">
                #{specification,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="hasWeightSectionValues != null">
                #{hasWeightSectionValues,jdbcType=INTEGER},
            </if>
            <if test="hasMileSectionValues != null">
                #{hasMileSectionValues,jdbcType=INTEGER},
            </if>
            <if test="minMile != null">
                #{minMile,jdbcType=DECIMAL},
            </if>
            <if test="minWeight != null">
                #{minWeight,jdbcType=DECIMAL},
            </if>
            <if test="minMoney != null">
                #{minMoney,jdbcType=DECIMAL},
            </if>
            <if test="priceStatus != null">
                #{priceStatus,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jaagro.crm.biz.entity.CustomerContractPrice">
        update customer_contract_price
        <set>
            <if test="contractId != null">
                contract_id = #{contractId,jdbcType=INTEGER},
            </if>
            <if test="pricingType != null">
                pricing_type = #{pricingType,jdbcType=INTEGER},
            </if>
            <if test="loadSiteId != null">
                load_site_id = #{loadSiteId,jdbcType=INTEGER},
            </if>
            <if test="unloadSiteId != null">
                unload_site_id = #{unloadSiteId,jdbcType=INTEGER},
            </if>
            <if test="vehicleType != null">
                vehicle_type = #{vehicleType,jdbcType=INTEGER},
            </if>
            <if test="productType != null">
                product_type = #{productType,jdbcType=INTEGER},
            </if>
            <if test="specification != null">
                specification = #{specification,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="hasWeightSectionValues != null">
                has_weight_section_values = #{hasWeightSectionValues,jdbcType=INTEGER},
            </if>
            <if test="hasMileSectionValues != null">
                has_mile_section_values = #{hasMileSectionValues,jdbcType=INTEGER},
            </if>
            <if test="minMile != null">
                min_mile = #{minMile,jdbcType=DECIMAL},
            </if>
            <if test="minWeight != null">
                min_weight = #{minWeight,jdbcType=DECIMAL},
            </if>
            <if test="minMoney != null">
                min_money = #{minMoney,jdbcType=DECIMAL},
            </if>
            <if test="priceStatus != null">
                price_status = #{priceStatus,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jaagro.crm.biz.entity.CustomerContractPrice">
    update customer_contract_price
    set contract_id = #{contractId,jdbcType=INTEGER},
      pricing_type = #{pricingType,jdbcType=INTEGER},
      load_site_id = #{loadSiteId,jdbcType=INTEGER},
      unload_site_id = #{unloadSiteId,jdbcType=INTEGER},
      vehicle_type = #{vehicleType,jdbcType=INTEGER},
      product_type = #{productType,jdbcType=INTEGER},
      specification = #{specification,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      has_weight_section_values = #{hasWeightSectionValues,jdbcType=INTEGER},
      has_mile_section_values = #{hasMileSectionValues,jdbcType=INTEGER},
      min_mile = #{minMile,jdbcType=DECIMAL},
      min_weight = #{minWeight,jdbcType=DECIMAL},
      min_money = #{minMoney,jdbcType=DECIMAL},
      price_status = #{priceStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
   
</mapper>