<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaagro.crm.biz.mapper.CustomerSiteMapper">
  <resultMap id="BaseResultMap" type="com.jaagro.crm.biz.entity.CustomerSite">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="site_type" jdbcType="INTEGER" property="siteType" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="site_name" jdbcType="VARCHAR" property="siteName" />
    <result column="site_status" jdbcType="INTEGER" property="siteStatus" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="detailed_address" jdbcType="VARCHAR" property="detailedAddress" />
    <result column="latitude" jdbcType="DECIMAL" property="latitude" />
    <result column="longitude" jdbcType="DECIMAL" property="longitude" />
    <result column="shipment_require" jdbcType="VARCHAR" property="shipmentRequire" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modify_time" jdbcType="VARCHAR" property="modifyTime" />
    <result column="created_user_id" jdbcType="BIGINT" property="createdUserId" />
    <result column="modify_user_id" jdbcType="BIGINT" property="modifyUserId" />
    <result column="enable" jdbcType="TINYINT" property="enable" />
  </resultMap>
  <sql id="Base_Column_List">
    id, site_type, customer_id, site_name, site_status, contact, phone, province, city,
    county, detailed_address, latitude, longitude, shipment_require, notes, created_time,
    modify_time, created_user_id, modify_user_id, enable
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from customer_site
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from customer_site
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jaagro.crm.biz.entity.CustomerSite">
    insert into customer_site (id, site_type, customer_id,
      site_name, site_status, contact,
      phone, province, city,
      county, detailed_address, latitude,
      longitude, shipment_require, notes,
      created_time, modify_time, created_user_id,
      modify_user_id, enable)
    values (#{id,jdbcType=BIGINT}, #{siteType,jdbcType=INTEGER}, #{customerId,jdbcType=BIGINT},
      #{siteName,jdbcType=VARCHAR}, #{siteStatus,jdbcType=INTEGER}, #{contact,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
      #{county,jdbcType=VARCHAR}, #{detailedAddress,jdbcType=VARCHAR}, #{latitude,jdbcType=DECIMAL},
      #{longitude,jdbcType=DECIMAL}, #{shipmentRequire,jdbcType=VARCHAR}, #{notes,jdbcType=VARCHAR},
      #{createdTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=VARCHAR}, #{createdUserId,jdbcType=BIGINT},
      #{modifyUserId,jdbcType=BIGINT}, #{enable,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.jaagro.crm.biz.entity.CustomerSite">
    insert into customer_site
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="siteType != null">
        site_type,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="siteName != null">
        site_name,
      </if>
      <if test="siteStatus != null">
        site_status,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="county != null">
        county,
      </if>
      <if test="detailedAddress != null">
        detailed_address,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="shipmentRequire != null">
        shipment_require,
      </if>
      <if test="notes != null">
        notes,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="createdUserId != null">
        created_user_id,
      </if>
      <if test="modifyUserId != null">
        modify_user_id,
      </if>
      <if test="enable != null">
        enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="siteType != null">
        #{siteType,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="siteName != null">
        #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="siteStatus != null">
        #{siteStatus,jdbcType=INTEGER},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null">
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="detailedAddress != null">
        #{detailedAddress,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="shipmentRequire != null">
        #{shipmentRequire,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="createdUserId != null">
        #{createdUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyUserId != null">
        #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jaagro.crm.biz.entity.CustomerSite">
    update customer_site
    <set>
      <if test="siteType != null">
        site_type = #{siteType,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="siteName != null">
        site_name = #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="siteStatus != null">
        site_status = #{siteStatus,jdbcType=INTEGER},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null">
        county = #{county,jdbcType=VARCHAR},
      </if>
      <if test="detailedAddress != null">
        detailed_address = #{detailedAddress,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="shipmentRequire != null">
        shipment_require = #{shipmentRequire,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="createdUserId != null">
        created_user_id = #{createdUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyUserId != null">
        modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jaagro.crm.biz.entity.CustomerSite">
    update customer_site
    set site_type = #{siteType,jdbcType=INTEGER},
      customer_id = #{customerId,jdbcType=BIGINT},
      site_name = #{siteName,jdbcType=VARCHAR},
      site_status = #{siteStatus,jdbcType=INTEGER},
      contact = #{contact,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      county = #{county,jdbcType=VARCHAR},
      detailed_address = #{detailedAddress,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=DECIMAL},
      longitude = #{longitude,jdbcType=DECIMAL},
      shipment_require = #{shipmentRequire,jdbcType=VARCHAR},
      notes = #{notes,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=VARCHAR},
      created_user_id = #{createdUserId,jdbcType=BIGINT},
      modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      enable = #{enable,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>