<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaagro.crm.biz.mapper.QualificationCertificMapper">
    <resultMap id="BaseResultMap" type="com.jaagro.crm.biz.entity.QualificationCertific">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="certificate_type" jdbcType="INTEGER" property="certificateType"/>
        <result column="certificate_image_url" jdbcType="VARCHAR" property="certificateImageUrl"/>
        <result column="certificate_status" jdbcType="INTEGER" property="certificateStatus"/>
        <result column="customer_id" jdbcType="BIGINT" property="customerId"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="created_user_id" jdbcType="BIGINT" property="createdUserId"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="modify_user_id" jdbcType="BIGINT" property="modifyUserId"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="enabled" property="enabled" jdbcType="TINYINT" />
    </resultMap>
    <resultMap id="ReturnMap" type="com.jaagro.crm.api.dto.response.customer.QualificationCertificReturnDto">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="certificate_type" jdbcType="INTEGER" property="certificateType"/>
        <result column="certificate_image_url" jdbcType="VARCHAR" property="certificateImageUrl"/>
        <result column="certificate_status" jdbcType="INTEGER" property="certificateStatus"/>
        <result column="customer_id" jdbcType="BIGINT" property="customerId"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="created_user_id" jdbcType="BIGINT" property="createdUserId"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="modify_user_id" jdbcType="BIGINT" property="modifyUserId"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="enabled" property="enabled" jdbcType="TINYINT" />
    </resultMap>
    <sql id="Base_Column_List">
    id, certificate_type, certificate_image_url, certificate_status, customer_id, description,
    created_user_id, created_time, modify_user_id, modify_time, enabled
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from qualification_certific
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from qualification_certific
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.jaagro.crm.biz.entity.QualificationCertific" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
    insert into qualification_certific (id, certificate_type, certificate_image_url,
      certificate_status, customer_id, description,
      created_user_id, created_time, modify_user_id,
      modify_time, enabled)
    values (#{id,jdbcType=BIGINT}, #{certificateType,jdbcType=INTEGER}, #{certificateImageUrl,jdbcType=VARCHAR},
      #{certificateStatus,jdbcType=INTEGER}, #{customerId,jdbcType=BIGINT}, #{description,jdbcType=VARCHAR},
      #{createdUserId,jdbcType=BIGINT}, #{createdTime,jdbcType=TIMESTAMP}, #{modifyUserId,jdbcType=BIGINT},
      #{modifyTime,jdbcType=TIMESTAMP}, #{enabled,jdbcType=TINYINT})
  </insert>
    <insert id="insertSelective" parameterType="com.jaagro.crm.biz.entity.QualificationCertific" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        insert into qualification_certific
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="certificateType != null">
                certificate_type,
            </if>
            <if test="certificateImageUrl != null">
                certificate_image_url,
            </if>
            <if test="certificateStatus != null">
                certificate_status,
            </if>
            <if test="customerId != null">
                customer_id,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="createdUserId != null">
                created_user_id,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="modifyUserId != null">
                modify_user_id,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="certificateType != null">
                #{certificateType,jdbcType=INTEGER},
            </if>
            <if test="certificateImageUrl != null">
                #{certificateImageUrl,jdbcType=VARCHAR},
            </if>
            <if test="certificateStatus != null">
                #{certificateStatus,jdbcType=INTEGER},
            </if>
            <if test="customerId != null">
                #{customerId,jdbcType=BIGINT},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="createdUserId != null">
                #{createdUserId,jdbcType=BIGINT},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyUserId != null">
                #{modifyUserId,jdbcType=BIGINT},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="enabled != null">
                #{enabled,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jaagro.crm.biz.entity.QualificationCertific">
        update qualification_certific
        <set>
            <if test="certificateType != null">
                certificate_type = #{certificateType,jdbcType=INTEGER},
            </if>
            <if test="certificateImageUrl != null">
                certificate_image_url = #{certificateImageUrl,jdbcType=VARCHAR},
            </if>
            <if test="certificateStatus != null">
                certificate_status = #{certificateStatus,jdbcType=INTEGER},
            </if>
            <if test="customerId != null">
                customer_id = #{customerId,jdbcType=BIGINT},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="createdUserId != null">
                created_user_id = #{createdUserId,jdbcType=BIGINT},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyUserId != null">
                modify_user_id = #{modifyUserId,jdbcType=BIGINT},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jaagro.crm.biz.entity.QualificationCertific">
    update qualification_certific
    set certificate_type = #{certificateType,jdbcType=INTEGER},
      certificate_image_url = #{certificateImageUrl,jdbcType=VARCHAR},
      certificate_status = #{certificateStatus,jdbcType=INTEGER},
      customer_id = #{customerId,jdbcType=BIGINT},
      description = #{description,jdbcType=VARCHAR},
      created_user_id = #{createdUserId,jdbcType=BIGINT},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      enabled = #{enabled,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="getByCustomerQualificationId" resultMap="ReturnMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from qualification_certific
        where customer_id = #{id,jdbcType=BIGINT}
    </select>
    <select id="getByQualificationCriteriDto" resultMap="ReturnMap" parameterType="com.jaagro.crm.api.dto.request.customer.ListQualificationCertificDto">
        select
        <include refid="Base_Column_List"/>
        from qualification_certific
        where 1=1
        <if test="certificateType != null">
            and certificate_type = #{certificateType}
        </if>
        <if test="certificateStatus != null">
            and certificate_status = #{certificateStatus}
        </if>
        <if test="endDate != null">
            <![CDATA[and created_time <= #{endDate}]]>
        </if>
        <if test="startDate != null">
            <![CDATA[and created_time >= #{startDate}]]>
        </if>
        order by created_time desc
    </select>

</mapper>