<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jaagro.crm.biz.mapper.TenantPurposeMapperExt">
    <resultMap id="BaseResultMap" type="com.jaagro.crm.biz.entity.TenantPurpose">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="contract_name" property="contractName" jdbcType="VARCHAR"/>
        <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="scale" property="scale" jdbcType="INTEGER"/>
        <result column="email_address" property="emailAddress" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="detail_address" property="detailAddress" jdbcType="VARCHAR"/>
        <result column="notes" property="notes" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="enable" property="enable" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, company_name, contract_name, phone_number, status, scale, email_address, city, 
    detail_address, notes, create_time, enable
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tenant_purpose
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tenant_purpose
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.jaagro.crm.biz.entity.TenantPurpose">
    insert into tenant_purpose (id, company_name, contract_name, 
      phone_number, status, scale, 
      email_address, city, detail_address, 
      notes, create_time, enable
      )
    values (#{id,jdbcType=INTEGER}, #{companyName,jdbcType=VARCHAR}, #{contractName,jdbcType=VARCHAR}, 
      #{phoneNumber,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{scale,jdbcType=INTEGER}, 
      #{emailAddress,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{detailAddress,jdbcType=VARCHAR}, 
      #{notes,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{enable,jdbcType=TINYINT}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.jaagro.crm.biz.entity.TenantPurpose">
        insert into tenant_purpose
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="companyName != null">
                company_name,
            </if>
            <if test="contractName != null">
                contract_name,
            </if>
            <if test="phoneNumber != null">
                phone_number,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="scale != null">
                scale,
            </if>
            <if test="emailAddress != null">
                email_address,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="detailAddress != null">
                detail_address,
            </if>
            <if test="notes != null">
                notes,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="enable != null">
                enable,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="companyName != null">
                #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="contractName != null">
                #{contractName,jdbcType=VARCHAR},
            </if>
            <if test="phoneNumber != null">
                #{phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="scale != null">
                #{scale,jdbcType=INTEGER},
            </if>
            <if test="emailAddress != null">
                #{emailAddress,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="detailAddress != null">
                #{detailAddress,jdbcType=VARCHAR},
            </if>
            <if test="notes != null">
                #{notes,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="enable != null">
                #{enable,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jaagro.crm.biz.entity.TenantPurpose">
        update tenant_purpose
        <set>
            <if test="companyName != null">
                company_name = #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="contractName != null">
                contract_name = #{contractName,jdbcType=VARCHAR},
            </if>
            <if test="phoneNumber != null">
                phone_number = #{phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="scale != null">
                scale = #{scale,jdbcType=INTEGER},
            </if>
            <if test="emailAddress != null">
                email_address = #{emailAddress,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="detailAddress != null">
                detail_address = #{detailAddress,jdbcType=VARCHAR},
            </if>
            <if test="notes != null">
                notes = #{notes,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="enable != null">
                enable = #{enable,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jaagro.crm.biz.entity.TenantPurpose">
    update tenant_purpose
    set company_name = #{companyName,jdbcType=VARCHAR},
      contract_name = #{contractName,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      scale = #{scale,jdbcType=INTEGER},
      email_address = #{emailAddress,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      detail_address = #{detailAddress,jdbcType=VARCHAR},
      notes = #{notes,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      enable = #{enable,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>