# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/crm-web/target/
/crm-web/.mvn/
/crm-biz/.mvn/
/crm-biz/target/
/crm-api/target/
/crm-web/src/main/resources/bootstrap.yml